.col-sm-6,
.col-md-3 {
  padding-right: 3px !important;
  padding-left: 3px !important;
}

.col-md-2 {
  padding-right: 5px !important;
  padding-left: 5px !important;
}

.container {
  padding-right: 5px !important;
  padding-left: 5px !important;
}

.breadcrumb {
  margin-bottom: 0 !important;
}
